body{
    background-color: black;
}

.container1 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 43vh;
  flex-direction: row;
  gap: 20px;
}

.item1 {
  background-color: rgb(211, 0, 0);
  padding: 20px, white;
  color: white;
  width: 300px;
  height: 300px;
  font-size: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  flex-direction: row;
  gap: 20px;
}

.item2 {
  background-color: rgb(17, 60, 250);
  padding: 20px, white;
  color: white;
  width: 300px;
  height: 300px;
  font-size: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container3 {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 42vh;
  flex-direction: row;
  gap: 20px;
}

.item3 {
  background-color: rgb(37, 216, 1);
  padding: 20px, white;
  color: white;
  width: 300px;
  height: 300px;
  font-size: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container4 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
  flex-direction: column;
  gap: 20px;
}

.item4 {
  background-color: rgb(8, 0, 121);
  padding: 20px, white;
  color: white;
  width: 300px;
  height: 300px;
  font-size: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}


.container5 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  flex-direction: column;
  gap: 20px;
}

.item5 {
  background-color: rgb(8, 0, 121);
  padding: 20px, white;
  color: white;
  width: 300px;
  height: 300px;
  font-size: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container6 {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height:auto;
  flex-direction: column;
  gap: 20px;
}

.item6 {
  background-color: rgb(8, 0, 121);
  padding: 20px, white;
  color: white;
  width: 300px;
  height: 300px;
  font-size: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container7 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32vh;
  flex-direction: row;
  gap: 20px;
}

.item7 {
  background-color: rgb(32, 0, 211);
  padding: 20px, white;
  color: white;
  width: 300px;
  height: 300px;
  font-size: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}   

.container8 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 32vh;
  flex-direction: row;
  gap: 20px;
}

.item8 {
  background-color: rgb(199, 186, 0);
  padding: 20px, white;
  color: white;
  width: 300px;
  height: 300px;
  font-size: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}   

.container9 {
  display: flex;
  justify-content: flex-end ;
  align-items: flex-end;
  height: 32vh;
  flex-direction: row;
  gap: 20px;
}

.item9 {
  background-color: rgb(194, 0, 0);
  padding: 20px, white;
  color: white;
  width: 300px;
  height: 300px;
  font-size: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}   