body{
    background-color: rgb(255, 255, 255);
}

.container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: row;
  gap: 20px;
}

.item1 {
  background-color: rgb(211, 0, 0);
  padding: 20px, white;
  color: white;
  width: 300px;
  height: 300px;
  font-size: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: row;
  gap: 20px;
}

.item2 {
  background-color: rgb(211, 0, 0);
  padding: 20px, white;
  color: white;
  width: 300px;
  height: 300px;
  font-size: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: row;
  gap: 20px;
}

.item3 {
  background-color: rgb(211, 0, 0);
  padding: 20px, white;
  color: white;
  width: 300px;
  height: 300px;
  font-size: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}




